{% extends 'navigation.html' %}
{% load static %}
{% block body %}

<div class="hero_area">

  <!-- end header section -->
  <!-- slider section -->
  <section class=" slider_section position-relative" style="background-color:#23408e ;">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="img-box">
                  <img src="{% static 'images/pexels-anna-shvets-3844581.jpg' %}" alt="" style="max-width: 75%; border-radius: 20px;height: auto;margin-left: 10px;margin-top: 10px;margin-bottom: 10px;">
                </div>
              </div>
              <div class="col-md-8">
                <div class="detail-box">
                  <h1 style="color: white;font-size: xx-large;font-weight: 600;">
                    Welcome To  <br>
                    <span>
                     Hospital
                    </span>

                  </h1>
                  <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore perspiciatis quo illo, 
                    itaque ipsa fugiat nemo, dignissimos id,
                     quis aliquam doloribus ea totam! Nesciunt in dignissimos nostrum laborum quia eos?
                
                  </p>
                
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="img-box">
                  <img src="{% static 'images/about-medicine.png' %}" alt="">
                </div>
              </div>
              <div class="col-md-8">
                <div class="detail-box">
                  <h1 style="color: white;font-size: xx-large;font-weight: 600;">
                    Welcome To  <br>
                    <span>
                     Hospital
                    </span>

                  </h1>
                  <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus similique quisquam eveniet dolor,
                     est qui veritatis blanditiis, 
                    quam vitae quibusdam possimus. Provident quod sequi ex quaerat repellendus nesciunt. Aliquid, dolorem.
                  </p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="img-box">
                  <img src="{% static 'images/22 (2).jpg' %}" alt="">
                </div>
              </div>
              <div class="col-md-8">
                <div class="detail-box">
                  <h1 style="color: white;font-size: xx-large;font-weight: 600;">
                    Welcome To  <br>
                    <span>
                      Hospital
                    </span>

                  </h1>
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officiis nisi perspiciatis provident quaerat illo repellendus nostrum aliquid,
                     assumenda porro nesciunt culpa velit magnam laboriosam praesentium quos dolorum vero temporibus nulla!
                  </p>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="color: black;">
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="color:black ;">
        <span class="sr-only">Next</span>
      </a>
    </div>


  </section>
  <!-- end slider section -->
</div>
 <!-- discount section -->

 <section class="discount_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-5 offset-md-2">
        <div class="detail-box">
          <h2>
            
           our <br>
            
            <span>
              services
            </span>

          </h2>
        
          
        </div>
      </div>
      <div class="col-lg-7 col-md-5">
        <div class="img-box">
          <h2>care</h2>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam voluptate quibusdam ipsa iusto dolore laboriosam hic facere repellat blanditiis dicta, 
            officia odio adipisci alias animi in necessitatibus autem dolor error.</p>
        </div>
        <div>
        <h2>care</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam voluptate quibusdam ipsa iusto dolore laboriosam hic facere repellat blanditiis dicta, 
          officia odio adipisci alias animi in necessitatibus autem dolor error.</p>
      </div>
      <div>
        <h2>care</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam voluptate quibusdam ipsa iusto dolore laboriosam hic facere repellat blanditiis dicta, 
          officia odio adipisci alias animi in necessitatibus autem dolor error.</p>
      </div>
      <div>
        <h2>care</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam voluptate quibusdam ipsa iusto dolore laboriosam hic facere repellat blanditiis dicta, 
          officia odio adipisci alias animi in necessitatibus autem dolor error.</p>
      </div>
         
      </div>
    </div>
  </div>
</section>



<!-- end discount section -->

  <!-- about section -->
  <section class="about_section layout_padding">
    <div class="container" >
      <div class="custom_heading-container ">
        <h2>
          About Us
        </h2>
      </div>


      <div class="card" style="width: 70rem; padding: 40px ;background-color: #27AE60;">
        <div class="img-box">
          <img src="{% static 'images/h2.jpg' %}" alt="" style="max-width: 75px;border-radius: 20px;">
        </div>
        <p style="color: white;">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea esse veritatis provident corporis ipsa distinctio dolorem, 
          dolor illo numquam. A doloribus voluptates excepturi ut. Deleniti architecto quaerat illo cupiditate quod!
        </p>
        <div class="d-flex justify-content-center">
          <a href=""type="button" class="btn btn-danger">
            Read More
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->


{% endblock%}